@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply bg-neutral-99 p-0 m-0 antialiased font-body text-neutral-10;
}
@media screen and (min-width: 1000px) {
   body {
      background-image: url('../public/bg-photo.png');
      background-repeat: no-repeat;
      background-position: 100% 0%;
   }
}
input {
   @apply block bg-inherit;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
   transition: background-color 600000s 0s, color 600000s 0s;
   font-size: inherit;
}
input[data-autocompleted] {
   background-color: transparent !important;
   font-size: inherit;
}
a {
   @apply font-semibold text-primary-main hover:text-primary-hover;
}
.error a {
   @apply text-red-500 hover:text-red-700;
}
